body {
    background-color: royalblue;
}
h1 {
    color: white;
}

h4 {
    color: skyblue;
}
h1 {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
h4 {
    color: skyblue;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
h1 {
  text-align: center;
}
